@page "/"
@using Blazored.LocalStorage
@inherits LayoutComponentBase
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

@{
    if (UserName is not null)
    {
        <h1>Hello!</h1>

        <p> <srong> Hello, welcome to our small website for the production of certificates</srong> </p>

        <p> @DateTime.Now.ToLongDateString() </p>
    }
    else
    {
        <h1>Please login</h1>
    }
}

@code {

    public string? UserName;

    protected override async Task OnInitializedAsync()
    {
        var username = await LocalStorage.GetItemAsStringAsync("username");

        if (username is not null)
        {
            username = username.Replace("\"", "");
            UserName = username;

            StateHasChanged();
        }
        else
        {
            await Task.Delay(2000);
            NavigationManager.NavigateTo("/login");
        }
    }
}
